# Fill out these values and save it as .env
# Make sure not to commit any secrets to GitHub.


# True only for development
DEBUG=1
DATABASE_URL=sqlite:///db.sqlite3

# python -c 'import random; print("".join([random.SystemRandom().choice(string.ascii_letters + string.digits + string.punctuation) for _ in range(50)]);'
SECRET_KEY=

# See https://github.com/openoakland/dos-census-events#setup-google-calendar
GOOGLE_CALENDAR_ID=

# Set this to your local timezone
TIME_ZONE=America/Los_Angeles
