# Fill out these values and save it as .env
# Make sure not to commit any secrets to GitHub.

# python -c 'import random; print("".join([random.SystemRandom().choice(string.ascii_letters + string.digits + string.punctuation) for _ in range(50)]);'
SECRET_KEY=

# See https://github.com/openoakland/dos-census-events#setup-google-calendar
GOOGLE_CALENDAR_ID=

# See https://github.com/openoakland/dos-census-events#setup-google-maps-api
GOOGLE_MAPS_API_KEY=replace_with_valid_key

# Set this to your local timezone
TIME_ZONE=America/Los_Angeles

# True only for development, remove this line in production
DEBUG=1

# Database connection settings as URL
DATABASE_URL=sqlite:///db.sqlite3