[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-pdb = "*"

[packages]
django-admin = "~=1.3.2"
django = "~=2.2.4"
google-api-python-client = "~=1.7.9"
google-auth-httplib2 = "~=0.0.3"
google-auth-oauthlib = "~=0.4.0"
django-recurrence = "~=1.9.0"
django-multiselectfield = "*"

[requires]
python_version = "3.6"
