{% load static %}
{% load i18n %}
{% get_current_language as LANGAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGAGE_CODE }}">
<head>
  <title>Alameda Census Events</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block media %}
  {% endblock %}
  <link rel="stylesheet" href="{% static 'uswds-2.0.2/css/uswds.min.css' %}">
  <link rel="stylesheet" href="{% static 'census/form.css' %}">
</head>
