{% load static %}
{% include 'includes/_head.html' %}
<body>
    <!-- Overlay Needed by USWDS -->
    <div class="usa-overlay"></div>

    {% include 'includes/_nav.html' %}

    {% block content %}
    {% endblock %}

    <script src="{% static 'uswds-2.0.2/js/uswds.min.js' %}"></script>
    <script src="{% static 'fontawesome/js/all.min.js' %}"></script>

    {# Resources for datepicker on homepage   #}
    <script src="{% static 'jquery/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'jquery/jquery-ui-1.12.1.custom.min.js' %}"></script>
    <script src="{% static 'datepicker/js/datepicker.js' %}"></script>
</body>
</html>
