{% extends '_base.html' %}
{% load static %}
{% static 'census/form.css' %}
{% block content %}
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
<form action="/submit/" method="post">
    {% csrf_token %}
    {{ form.media }}
    <table>
      <tbody>
      {% for field in form %}
      <tr>
         <th>
          {{ field.label_tag }}
          {{ field.errors }}
         </th>
         <td>
           {{ field }}
           </br>
          {% if field.help_text %}
            <sup>{{ field.help_text }}</sup>
          {% endif %}
         </td>
      </tr>
      {% endfor %}
     </tbody
    </table>
    </br>
    <input type="submit" value="Submit">
</form>
{% endblock %}
{% block media %}
{% endblock %}
