{% extends '_base.html' %}
{% block content %}
    <style type="text/css">

    </style>

    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <div class="grid-row">
        <div class="height-10 tablet:grid-col-12"></div>
        <div class="tablet:grid-col-12 bg-accent-cool-lighter" style="height:10rem;"></div>
    </div>

    <div class="grid-row">

        <div class="grid-col-3 bg-gray-5"></div>
        <div class="grid-col-4 bg-white">
            <input class="-align-center grid-col-12" type="text" placeholder="Search for upcoming events...">
            <br/><br/>
            {% for i in '123'|make_list %}
                <div class="grid-col-12 bg-white border-1">
                    <table class="text-red">
                        <tbody>
                        <tr>
                            <td style="width: 15%; vertical-align:top" rowspan="5">
                                6:30 PM
                            </td>
                            <td>
                                OPENOAKLAND: THE CODE FOR AMERICA BRIGADE IN OAKLAND
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold; font-size: 20px;">
                                OpenOakland Civic Hack Night
                            </td>
                        </tr>
                        <tr>
                            <td>City Hall, Hearing Room 4</td>
                        </tr>
                        <tr class="text-right">
                            <td>
                                <span onclick="toggleSave()">
                                    <i class="fas fa-star text-green" title="Saved"></i>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>25 civic innovators going</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br/>
            {% endfor %}
        </div>
        <div class="grid-col-2 bg-gray-10">
            <p class="text-center">Event Calendar</p>
        </div>
        <div class="grid-col-3 bg-gray-5"></div>
    </div>

    </main>
{% endblock %}
