{% extends '_base.html' %}
{% block content %}
    <style type="text/css">

    </style>

    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <div class="grid-container bg-white">


        <div class="grid-row bg-white" style="padding-bottom: 150px">
            <div class="grid-col-10 margin-5">
                <form class="usa-search usa-search--big" action="/" method="post">
                    {% csrf_token %}
                    <div class="grid-offset-2" role="search">
                        <label class="usa-sr-only" for="search-field-big">Search</label>
                        <input class="usa-input" id="search-field-big" type="search" name="search">
                        <button class="usa-button" type="submit">
                            <span class="usa-search__submit-text">Search</span>
                        </button>
                    </div>
                </form>
            </div>

            <div class="grid-col-8">
                <div id="event-list" class="usa-accordion usa-accordion--bordered">
                    {% for i in request.events %}
                        <label class="usa-label" for="title">{{ i.start_time }}</label>
                        <h2 class="usa-accordion__heading">
                            <button class="usa-accordion__button"
                                    aria-expanded="false"
                                    aria-controls="a{{ i.id }}">
                                {{ i.title }}
                            </button>
                        </h2>
                        <div id="a{{ i.id }}" class="usa-accordion__content usa-prose">
                            <p>{{ i.description }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="grid-col-4">
                <p class="text-center">Event Calendar</p>
                <div id="datepicker"></div>
            </div>
        </div>
    </div>
    </div>
    </main>
{% endblock %}
