{% extends '_base.html' %}

{% block content %}

<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

<style>
.usa-prose>h2 {
  font-size: 1.2rem;
  margin-top: 1em;
}
.usa-prose>h2+p, p.event-details-custom + p.event-details-custom {
    margin-top: 0.5em;
}
.usa-checkbox__input:disabled+.usa-checkbox__label {
    color: #000000;
}
</style>
<div class="grid-container">

    <div class="grid-row">
        <section class='tablet:grid-col-8 tablet:grid-offset-2 section-card padding-x-4 padding-y-2 tablet:margin-4'>

            <div>

            {% if form.is_private_event.value and not user.is_authenticated %}
            <h1>This Event is Private</h1>
            {% else %}
                <div class="usa-prose">
                    <h1>{{ form.title.value|default_if_none:'' }}</h1>
                    {% csrf_token %}
                    {{form.media}}

                    {% include 'includes/_form_errors.html' %}
                    {% if message %}
                      <div class="usa-alert usa-alert--success" role="alert">
                          <div class="usa-alert__body">
                            <h3 class="usa-alert__heading">{{message}}</h3>
                            <p class="usa-alert__text"> It is now pending approval.</p>
                          </div>
                      </div>
                    {% endif %}
                      <p>{{form.description.value|default_if_none:''}}</p>

                      <h2>{{form.location.label}}</h2>
                      <p>{{form.site_name.value|default_if_none:''}}<br>
                      {{form.location.value|default_if_none:''}}</p>
                      {% if form.is_ada_compliant.value %}
                      Location is ADA compliant
                      {% endif %}

                      <h2>Time</h2>
                      <p>Starts {{form.start_datetime.value| date:'H:i'}} on {{form.start_datetime.value| date:'m-d-Y'}}<br> Ends {{form.end_datetime.value| date:'H:i'}} on {{form.end_datetime.value| date:'m-d-Y'}}</p>

                      <h2>Event Details</h2>
                      <p><strong>Languages supported:</strong><br>
                      {{form.languages.value|default_if_none:''}}</p>
                      <p><strong>{{form.fields.event_type.label}}:</strong><br>
                      {{form.event_type.value|default_if_none:''}}</p>
                      {% if form.is_census_equipped.value %}
                      Census can be completed.
                      {% endif %}

                      <h2>Contact</h2>
                      <p>{{form.organization_name.value|default_if_none:''}}<br>
                      {{form.contact_name.value|default_if_none:''}}<br>
                      {{form.contact_email.value|default_if_none:''}}<br>
                      {{form.contact_phone.value|default_if_none:''}}</p>

                    {% if enable_recurrence %}
                    <span class="usa-hint line-height-body-1 font-body-2xs">{{ form.recurrences.help_text }}</span>
                    <div class="grid-row">
                        {{ form.recurrences }}
                    </div>
                    {% else %}
                    <input type="hidden" name="{{ form.recurrences.name }}" value="" />
                    {% endif %}

                    <br>
                </div>
            {% endif %}
            </div>
        </section>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key={{google_maps_api_key}}&libraries=places&callback=initAutocomplete" async defer></script>
{% endblock content %}
{% block media %}
{% endblock media %}
